In [1]:
# Project
import os
print(os.getcwd())
import pandas as pd
import numpy as np
import seaborn as sns
import csv
import matplotlib.pyplot as plt
import random as random
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects
import statsmodels.formula.api as smf
# Imports functions from seperate notebook
%run Functions.ipynb

C:\Users\Matt\Downloads\CMSE project

Here I load in the data and spit out some summary statistics.

In [2]:
# Reading in Data
# Keys to extract formatted State and County names
key = pd.read_excel('fips_codes_website.xls')   # Counties and major cities
key00 = pd.read_csv('FIPS_countycodes.txt',delimiter=',')  # Counties only
key00['GU Name'] = key00['GU Name'].str[:-7]  # Slice 'county' from names
# Housing Data
zillow2019 = pd.read_excel("County_Zhvi_Summary_AllHomes2019.xls")
zillow2019['RegionName'] = zillow2019['RegionName'].str[:-7]  # Slice 'county' from names
# Crime
crime2010 = pd.read_csv('33523-0001-crimedata2010.txt',delimiter='\t')
crime2012 = pd.read_csv('35019-0001-crimedata2012.txt',delimiter='\t')
crime2014 = pd.read_csv('36399-0001-crimedata2014.txt',delimiter='\t')
crime2016 = pd.read_csv('37059-0001-crimedata2016.txt',delimiter='\t')
# Enumployment & Wages
#test_wages_18 = pd.read_excel('allhlcn183.xlsx',sheet_name='US_St_Cn_MSA')
wage_unemp2018 = pd.read_csv('allhlcn183wage_unemp2018.txt',delimiter='\t',dtype={'St':str})
wage_unemp2016 = pd.read_csv('allhlcn163wage_unemp2016.txt',delimiter='\t',dtype={'St':str})
wage_unemp2014 = pd.read_csv('allhlcn143wage_unemp2014.txt',delimiter='\t',dtype={'St':str})
wage_unemp2012 = pd.read_csv('allhlcn123wage_unemp2012.txt',delimiter='\t',dtype={'St':str})
wage_unemp2010 = pd.read_csv('allhlcn103wage_unemp2010.txt',delimiter='\t',dtype={'St':str})

print("2014 crime:",crime2014.shape,"// key:",key.shape)
print("2019 Housing:",zillow2019.shape)
print('2018 Wages:',wage_unemp2018.shape)
x = ((crime2014.shape[0])*(crime2014.shape[1]))*4 + ((wage_unemp2018.shape[0])*(wage_unemp2018.shape[1]))*5 + (key00.shape[0])*key00.shape[1]
print(x,'unique datapoints in all datasets')

2014 crime: (3177, 56) // key: (41787, 7)
2019 Housing: (1921, 17)
2018 Wages: (62724, 21)
7313843 unique datapoints in all datasets

In [3]:
# Data Cleaning #
# Yearly cleaned databases
crime10 = crime_cleaner(crime2010)
crime12 = crime_cleaner(crime2012)
crime14 = crime_cleaner(crime2014)
crime16 = crime_cleaner(crime2016)
cols = list(crime14.columns.values) # Grab columns
# Cleaned Wage Data
economic10 = wage_cleaner(wage_unemp2010) # Returns 3 items; county, state, national, and urban level data sets
economic12 = wage_cleaner(wage_unemp2012)
economic14 = wage_cleaner(wage_unemp2014)
economic16 = wage_cleaner(wage_unemp2016)
economic18 = wage_cleaner(wage_unemp2018)
economic18['Industry'] = economic18['Industry'].str[1:] # Remove first space in 2018 industry codes

# Combined crime and economic dataframes and rearrange columns
db2010 = crime10.merge(economic10,left_on=['State Abbreviation','GU Name'],right_on=['State Abbreviation','GU Name'])
cols = db2010.columns.tolist()  # Code to rearrange columns
cols = ['Year']+cols[:-14]+cols[-10:]
db2010 = db2010[cols]
db2012 = crime12.merge(economic12,left_on=['State Abbreviation','GU Name'],right_on=['State Abbreviation','GU Name'])
db2012 = db2012[cols]
db2014 = crime14.merge(economic14,left_on=['State Abbreviation','GU Name'],right_on=['State Abbreviation','GU Name'])
db2014 = db2014[cols]
db2016 = crime16.merge(economic16,left_on=['State Abbreviation','GU Name'],right_on=['State Abbreviation','GU Name'])
db2016 = db2016[cols]

C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Matt\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
# Selects 10 Random counties and stores them as a dictionary by count // Key = MI, County
samp_db = {}
for n in range(200):
    r = random.randint(0,len(crime12))
    x = crime12['State Abbreviation'].iloc[r] # Pull State Abreviation
    y = crime12['GU Name'].iloc[r]  # Pull analogous county name
    z = x+', '+y # Format name for dictionary key
    agg = search(y,x) # Return criminal and economic data
    samp_db[z] = agg  # Add data to empty dictionary
keys = list(samp_db.keys())
print(len(samp_db))
print(samp_db.keys())

194
dict_keys(['NE, Valley', 'CO, Boulder', 'MN, Steele', 'CO, Park', 'TX, Collin', 'MN, Beltrami', 'KY, Estill', 'TN, Blount', 'KS, Greenwood', 'VA, Buena Vis', 'OK, Le Flore', 'LA, Rapides', 'VA, Prince Edward', 'WV, Nicholas', 'PA, Butler', 'TN, Union', 'SC, Aiken', 'ND, McKenzie', 'GA, Newton', 'MI, Presque Isle', 'NE, Webster', 'CA, Mariposa', 'LA, Avoyelles', 'KY, Ohio', 'AL, Houston', 'CT, Middlesex', 'LA, Caldwell', 'KS, Wichita', 'OK, Blaine', 'IL, Ogle', 'PA, Allegheny', 'IL, Scott', 'NY, Essex', 'OH, Scioto', 'TX, Floyd', 'KS, Haskell', 'MT, Sweet Grass', 'ND, Mountrail', 'MT, Yellowstone', 'NE, Fillmore', 'GA, Habersham', 'NE, Furnas', 'VA, Sussex', 'GA, Troup', 'NC, Pamlico', 'MI, Jackson', 'WI, Price', 'PA, Venango', 'FL, Leon', 'TX, Brewster', 'PA, Chester', 'KS, Leavenworth', 'ND, Cavalier', 'NJ, Warren', 'CO, San Juan', 'IN, Marshall', 'TX, Hemphill', 'IN, Lake', 'PA, Washington', 'TX, Matagorda', 'OR, Polk', 'OR, Multnomah', 'WV, Pendleton', 'NY, St. Lawrence', 'NE, Lincoln', 'SD, Sanborn', 'MN, Wabasha', 'OK, Jefferson', 'MI, Charlevoix', 'TX, Jefferson', 'IL, Iroquois', 'FL, Broward', 'SD, Turner', 'MT, Silver Bow', 'TX, Winkler', 'MN, St. Louis', 'VA, Wythe', 'VA, Northampton', 'IN, Fountain', 'IL, Brown', 'KY, Edmonson', 'CA, Ventura', 'KS, Sheridan', 'SC, Allendale', 'MD, Allegany', 'OH, Logan', 'OH, Lawrence', 'WI, Clark', 'ND, Slope', 'ID, Fremont', 'TX, Real', 'ME, Oxford', 'OK, Marshall', 'MO, Linn', 'HI, Kalawao', 'MS, Newton', 'MS, Webster', 'MN, Blue Earth', 'MN, Jackson', 'IA, Guthrie', 'MO, McDonald', 'CO, Jackson', 'MO, Cass', 'AK, Anchorage Munic', 'WI, Jackson', 'VA, Bland', 'GA, Camden', 'OH, Greene', 'CO, Morgan', 'ME, Sagadahoc', 'TX, Nolan', 'VA, Craig', 'MS, Kemper', 'TN, Washington', 'MO, Adair', 'NH, Sullivan', 'WA, San Juan', 'IL, Clinton', 'WI, Waukesha', 'OR, Lincoln', 'VA, Frankl', 'NC, Watauga', 'OK, Comanche', 'IN, Vigo', 'WY, Niobrara', 'AK, Lake and Peninsula ', 'TN, Williamson', 'TX, Loving', 'OK, Pushmataha', 'OR, Grant', 'WA, Garfield', 'IN, Harrison', 'TN, Roane', 'MI, Menominee', 'IA, Washington', 'FL, Monroe', 'OH, Summit', 'MS, Lafayette', 'OH, Crawford', 'TX, Reagan', 'MI, Wayne', 'MD, Worcester', 'WI, Racine', 'VA, Rockbridge', 'LA, Allen', 'IL, Edwards', 'SD, Mellette', 'IA, Harrison', 'SD, Lake', 'ND, Pembina', 'TX, Austin', 'GA, Candler', "MD, Prince George's", 'TN, Campbell', 'MN, Becker', 'TX, Terry', 'WV, Morgan', 'MS, Wayne', 'MO, Dade', 'CT, Litchfield', 'TX, Montague', 'WA, Pacific', 'MS, Tishomingo', 'MT, Gallatin', 'TN, Bledsoe', 'IN, Pike', 'MO, St. Francois', 'CA, Colusa', 'SC, Oconee', 'MO, Knox', 'IL, Pope', 'ID, Twin Falls', 'TX, Bandera', 'TX, Webb', 'CO, Mesa', 'AR, Newton', 'MS, Chickasaw', 'OR, Lane', 'MO, Ozark', 'CO, Delta', 'KS, Clay', 'IL, Crawford', 'LA, Livingston', 'TX, Dimmit', 'FL, Jefferson', 'IA, Buchanan', 'OR, Malheur', 'CA, Tehama', 'MS, Franklin', 'MN, Roseau', 'KY, Fleming', 'TX, Hockley', 'MS, Adams', 'MT, Cascade'])

In [6]:
industry = most_establishments(samp_db[keys[1]][3])  # Returns 4 largest industries in 2016 ,index = 3
industry = list(industry['Industry']) # List of largest industries for reference purposes
#print(samp_db[keys[1]][3]['Industry'])
industry = ['Goods-producing','Service-providing','Trade, transportation, and utilities','Professional and business services']

**REGRESSIONS**

Here I figured out how to [sort of] do multiple regression for a single county. It runs, however the numbers are junk, as indicated by the near perfect R-squared.

In [7]:
samp_dic = {}
stat = 'Establishment Count','Average Weekly Wage','September Employment'
# Gather //  Reformat economic data
for s in stat:
    for n in industry:
        samp_dic[n+' '+s] = industrydata_cleaner(samp_db,s,n)
# Gather // Reformat criminal data
crimes = samp_db[keys[1]][0].columns[:48] # Reset crimes to grab all crime data
for i in crimes:
    samp_dic[i] = sample_crime_cleaner(samp_db,i)

In [8]:
finaldb = pd.DataFrame(data=samp_dic)
# Reorganize columns
cols = finaldb.columns.tolist()
cols = cols[12:15]+cols[:12]+cols[15:]
finaldb = finaldb[cols]
# Convert economic data from arrays to ints
for i in cols[3:15]:
    finaldb[i] = finaldb[i].astype(float)
print('\nFinal Database for all 10 counties over 4 years in my sample.')
finaldb

ValueError: setting an array element with a sequence.

In [9]:
finaldb

,Year,State Abbreviation,GU Name,Goods-producing Establishment Count,Service-providing Establishment Count,"Trade, transportation, and utilities Establishment Count",Professional and business services Establishment Count,Goods-producing Average Weekly Wage,Service-providing Average Weekly Wage,"Trade, transportation, and utilities Average Weekly Wage",...,OFAGFAM,DUI,LIQUOR,DRUNK,DISORDR,VAGRANT,ALLOTHR,SUSPICN,CURFEW,RUNAWAY
0,2010,NE,Valley,[46],[131],[48],[16],[484],[429],[462],...,0,0,1,0,0,0,0,0,0,0
1,2012,NE,Valley,[48],[143],[44],[16],[500],[458],[499],...,0,4,2,0,0,0,0,0,0,0
2,2014,NE,Valley,[61],[150],[45],[16],[573],[513],[518],...,0,4,11,0,3,0,16,0,0,0
3,2016,NE,Valley,[69],[150],[46],[17],[660],[565],[597],...,0,3,7,0,1,0,47,0,0,0
4,2010,CO,Boulder,[1524],[11365],[2160],[4069],[1233],[1011],[760],...,176,1903,1366,1546,429,3,6467,0,77,0
5,2012,CO,Boulder,[1441],[11748],[2175],[4297],[1245],[1055],[797],...,141,1767,1764,1180,272,0,7251,0,77,0
6,2014,CO,Boulder,[1478],[12188],[2155],[4477],[1261],[1112],[845],...,146,1515,1150,0,265,1,6443,0,89,7
7,2016,CO,Boulder,[1534],[13138],[2236],[4913],[1415],[1191],[945],...,183,1301,1122,0,194,1,7767,0,47,1
8,2010,MN,Steele,[194],[734],[265],[92],[960],[596],[558],...,7,168,162,0,82,0,121,0,0,3
9,2012,MN,Steele,[203],[717],[253],[89],[899],[553],[556],...,6,159,116,0,61,0,106,0,0,0
10,2014,MN,Steele,[187],[711],[248],[84],[936],[597],[573],...,3,128,34,0,33,0,73,0,0,0
11,2016,MN,Steele,[186],[704],[246],[79],[993],[674],[599],...,1,87,9,0,22,0,37,0,0,0
12,2010,CO,Park,[149],[335],[90],[104],[700],[506],[555],...,22,84,6,3,3,0,128,1,0,6
13,2012,CO,Park,[138],[342],[89],[110],[663],[538],[625],...,0,80,4,2,0,0,33,0,0,0
14,2014,CO,Park,[136],[323],[80],[99],[661],[616],[793],...,0,106,1,0,0,0,74,0,0,0
15,2016,CO,Park,[149],[352],[85],[116],[702],[714],[893],...,1,40,4,0,1,0,60,0,0,0
16,2010,TX,Collin,[1806],[16097],[3641],[4508],[1357],[971],[795],...,62,2215,646,1740,358,10,6048,0,94,172
17,2012,TX,Collin,[1858],[17478],[3900],[4866],[1482],[1025],[812],...,73,2035,553,1765,280,19,7147,0,62,139
18,2014,TX,Collin,[1979],[19303],[4122],[5522],[1523],[1062],[859],...,14,467,99,446,28,4,1403,0,6,2
19,2016,TX,Collin,[2096],[21446],[4356],[6229],[1714],[1145],[932],...,66,1614,251,1145,87,10,6307,0,17,90
20,2010,MN,Beltrami,[225],[856],[292],[113],[742],[544],[497],...,7,276,487,0,190,0,667,0,0,10
21,2012,MN,Beltrami,[230],[867],[287],[114],[779],[601],[526],...,12,237,558,0,251,0,580,0,0,0
22,2014,MN,Beltrami,[223],[852],[276],[109],[851],[618],[591],...,11,205,414,0,189,0,413,0,0,0
23,2016,MN,Beltrami,[214],[835],[264],[105],[931],[694],[653],...,15,226,324,0,137,0,358,0,0,9
24,2010,KY,Estill,[36],[167],[60],[18],[563],[473],[431],...,8,45,0,47,3,0,86,0,0,0
25,2012,KY,Estill,[27],[158],[53],[17],[610],[506],[451],...,3,27,0,32,4,0,92,0,0,0
26,2014,KY,Estill,[29],[163],[53],[19],[643],[548],[449],...,3,78,0,46,21,0,147,0,0,0
27,2016,KY,Estill,[35],[170],[51],[19],[846],[603],[418],...,2,37,0,40,12,0,191,0,0,0
28,2010,TN,Blount,[390],[1719],[567],[300],[1044],[669],[675],...,8,332,84,275,42,0,3021,0,0,59
29,2012,TN,Blount,[359],[1747],[552],[313],[1031],[649],[653],...,4,494,88,272,25,0,3348,0,4,53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
746,2014,OR,Malheur,[196],[683],[200],[79],[499],[562],[596],...,5,155,51,0,72,0,253,0,27,31
747,2016,OR,Malheur,[201],[716],[198],[86],[588],[574],[602],...,16,114,50,0,77,0,383,0,9,13
748,2010,CA,Tehama,[313],[1395],[217],[117],[668],[601],[647],...,2,605,13,646,8,20,638,0,8,0
749,2012,CA,Tehama,[292],[1262],[217],[106],[738],[638],[701],...,2,515,5,712,42,5,636,0,32,0
750,2014,CA,Tehama,[302],[1329],[219],[115],[837],[649],[783],...,2,491,9,749,15,5,880,0,11,0
751,2016,CA,Tehama,[289],[1422],[213],[104],[917],[689],[792],...,1,370,10,614,12,29,618,0,3,0
752,2010,MS,Franklin,[30],[77],[28],[11],[602],[598],[561],...,1,61,0,0,3,1,24,0,0,0
753,2012,MS,Franklin,[30],[81],[30],[13],[539],[634],[608],...,3,68,15,0,15,1,175,0,0,0
754,2014,MS,Franklin,[31],[84],[32],[13],[634],[640],[640],...,10,36,3,8,19,0,93,3,0,0
755,2016,MS,Franklin,[29],[85],[31],[13],[637],[706],[724],...,6,23,2,6,14,0,74,1,0,0
756,2010,MN,Roseau,[88],[308],[119],[35],[855],[436],[412],...,1,79,76,0,20,0,120,0,0,0
757,2012,MN,Roseau,[88],[303],[113],[37],[836],[504],[451],...,0,71,17,0,9,0,68,0,0,0
758,2014,MN,Roseau,[88],[298],[113],[40],[994],[529],[489],...,1,75,0,0,17,0,30,0,0,0
759,2016,MN,Roseau,[90],[310],[112],[37],[859],[579],[533],...,0,45,0,0,7,0,47,0,0,0
760,2010,KY,Fleming,[63],[189],[87],[19],[608],[501],[499],...,5,71,0,43,2,0,43,0,0,0
761,2012,KY,Fleming,[52],[202],[82],[24],[633],[509],[520],...,12,61,0,52,1,0,66,0,0,0
762,2014,KY,Fleming,[48],[229],[88],[21],[707],[488],[524],...,9,71,1,53,10,0,95,0,0,0
763,2016,KY,Fleming,[49],[228],[87],[19],[726],[585],[632],...,11,85,0,37,4,0,192,0,0,0
764,2010,TX,Hockley,[265],[336],[112],[37],[1079],[545],[766],...,22,112,23,58,8,0,406,0,0,2
765,2012,TX,Hockley,[267],[334],[118],[39],[1298],[653],[879],...,11,51,14,63,5,0,331,0,1,3
766,2014,TX,Hockley,[264],[346],[123],[44],[1422],[785],[1089],...,10,74,7,54,7,0,487,0,1,2
767,2016,TX,Hockley,[258],[336],[117],[45],[1301],[666],[864],...,13,45,7,65,3,0,352,0,0,0
768,2010,MS,Adams,[126],[750],[232],[100],[818],[494],[492],...,34,179,32,87,133,4,783,0,9,3
769,2012,MS,Adams,[117],[712],[228],[89],[959],[513],[522],...,71,291,28,86,128,1,694,2,7,3
770,2014,MS,Adams,[122],[724],[224],[103],[896],[539],[573],...,8,35,1,33,245,1,773,0,0,0
771,2016,MS,Adams,[118],[707],[217],[104],[932],[571],[546],...,13,60,6,20,165,0,653,2,0,0
772,2010,MT,Cascade,[407],[2196],[615],[412],[810],[587],[589],...,47,427,537,0,448,1,462,0,62,214
773,2012,MT,Cascade,[396],[2159],[603],[413],[823],[602],[608],...,75,324,440,0,471,3,838,0,166,0
774,2014,MT,Cascade,[404],[2201],[608],[442],[840],[641],[623],...,76,242,191,0,397,0,553,0,28,0
775,2016,MT,Cascade,[414],[2193],[605],[430],[920],[701],[664],...,40,195,115,0,381,1,621,0,21,0

In [ ]:
x = finaldb[list(finaldb.columns.values[3:15])]  # Use only the first 3 columns to regress
y = finaldb['DRGPOSS']  # Set y variable

model = sm.OLS(y, x).fit()
predictions = model.predict(x) # make the predictions by the model

print(model.summary())

In [ ]:
d = {'col1': [1,'',6], 'col2': [3,4,7], 'col3': [3,4,7]}
df = pd.DataFrame(data=d)
df

In [ ]:
df = df.replace('',np.nan)
df = df.dropna(axis=0,how='any')
df